#clockcontainer{
    position: relative;
    margin: auto;
    border: 2px solid red;
    height: 40vw;
    width: 40vw;
    background: url(./clock\ \(1\).webp) no-repeat;
    background-size: 100%;
}

#hour, #minute , #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    height: 22%;
    width: 1%;
    top: 28%;
    left: 49.5%;

}


#minute{
    height: 29%;
    width: 1%;
    top: 21%;
    left: 49.5%;

}
    


#second{
    height: 35%;
    width: 1%;
    top: 15%;
    left: 49.5%;

}


